/* Default-box with no scroll bars in either direction and an off-white 
background. */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(226, 226, 226);
	overflow: hidden;
}

/*<-----Navigation ----->*/

/* Takes up 100% of horizontal space even when resizing the window. All items 
inside are aligned in the center of the navbar vertically. */

header {
	background-color: grey;
	display: flex;
	max-width: 100%;
	height: 50px;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: bold;
	opacity: .8;
}

/* Each container in my navbar will take up an equal amount of space. These three
containers are spaced evenly apart from both each other and the sides of the 
page. */

.logo-container, .nav-links, .cart {
	display: flex;
	flex: 1;
	justify-content: space-around;
}

/* Will transiion to the :hover property over the course of 0.3s. */

.logo-container a {
	color: black;
	text-decoration: none;
	transition: 0.3s;

}

.logo-container a:hover {
	color: rgb(226, 226, 226);
}

/* all of our nav-links wil take up an equal amount of room within their 
container. */ 

nav {
	flex: 1;
}

.nav-links {
	list-style: none;
}

.nav-link {
	color: black;
	text-decoration: none;
	transition: 0.3s;
}

.nav-link:hover {
	color: rgb(226, 226, 226);
}

/* Centers "CART" horizontally within its conatiner. */

.cart {
	justify-content: center;
}

.cart a {
	color: black;
	text-decoration: none;
	transition: 0.3s;
}

.cart a:hover {
	color: rgb(226, 226, 226);
}

/* <----- Main Content -----> */

/* Positioned absoluetly in relation to the document body with no space between 
the top of the image and the top of the page.  */

main .background {
	position: absolute;
	top: 0;
	z-index: -1;
}

/* Takes up 100% of horizontal space even when resizing the window. */

.background img {
	max-width: 100%;
}

/* Positioned absoluetly in relation to the document body so that it can be placed
specifically under the light in the image. */

.cta {
	position: absolute;
	top: 400px;
	left: 600px;
	color: black;
	letter-spacing: 2px;
}

/* This button is positioned relative to it's container. */

.browse-btn {
	position: relative;
	top: 500px;
	left: 600px;
	height: 50px;
	width: 150px;
	font-size: 20px; 
	background: grey;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	transition: 0.3s;
}

.browse-btn:hover {
	color: rgb(226, 226, 226);
	letter-spacing: 1.5px;
}
